:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;

  --black30: black;
  --black20: #212121;
  --black10: #424242;

  --gray30: #616161;
  --gray10: #E5E5E5;
}

/* =================================================================
Theme colors
*/

body {
  font-family: var(--font), sans-serif;
  color: var(--primary100);
  background: var(--secondary);
}

h1, h2, h3, pre, details summary, p a {
  color: var(--primary);
}

b {
  color: var(--secondary100);
}

details summary {
  font-weight: bold;
}

form .combined-submit {
  border: 1px solid var(--primary);
  font-size: 0;
  border-radius: 90px;
  margin-block-end: 40px;
}

form .combined-submit input {
  display: inline-block;
  inline-size: 60%;
  border: none;
  border-radius: 0;
  margin-block: 0;
}

form .combined-submit input[type="submit"] {
  inline-size: 40%;
}


.form input  {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: var(--secondary);
}

.form input::-webkit-input-placeholder {
  color: var(--primary100);
}

li, li a {
  color: var(--primary100);
}

.variants li, .variants li a {
  color: var(--primary200);
  font-weight: 500;
}

li.selected {
  background: black;
}

li.selected a {
  color: white;
}

header a:hover {
  color: var(--primary);
}

form input[type="submit"] {
  background: var(--secondary100);
  color: var(--secondary);
}

blockquote {
  background: var(--secundary200);
}

blockquote p {
  color: var(--secondary);
}

.footer-content {
  background: var(--secondary100);
}

.footer-content p {
  color: var(--secondary);
}

.slider-bullet-list .slider-bullet {
  background: rgba(66, 66, 66, 0.2);
}

.slider-bullet-list .slider-bullet.selected {
  background: var(--primary);
}

/* =================================================================
  Logical sizes
*/

blockquote span::before {
  content: '-';
}

body {
  margin: 0;
  line-height: 24px;
}

.header-content {
  padding-inline: 16px;
}

header {
  margin-block-start: 16px;
  font-size: 14px;
}

header li {
  text-decoration: none;
  margin-block-end: 16px;
}

header a {
  text-decoration: none;
}

nav h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 16px;
}

nav ul.variants {
  margin-block-start: 16px;
  margin-block-end: 40px;
  padding-inline-start: 0;
}

nav ul.variants li {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
}

nav ul.variants li a {
  font-weight: 500;
}

nav ul.variants li::marker {
  content: ''
}

nav section.nav-content {
  display: none;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  line-height: 32.74px;
}

h2 {
  font-size: 24px;
  line-height: 32.74px;
}

h3 {
  font-size: 20px;
  margin-block-start: 40px;
  margin-block-end: 16px;
  line-height:27.28px;
}

hr {
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

p {
  font-size: 17px;
}

p.cta {
  font-weight: normal;
}

p.cta a {
}

.section-content {
  margin-block-start: 40px;
}

.section-content img {
  display: block;
  margin-block-start: 24px;
  max-inline-size: 100%;
}

.section-content img.logo {
  inline-size: 48px;
  block-size: 48px;
  margin-block-start: 24px;
  margin-block-end: 16px;
}

.section-content img.logo ~ h3 {
  margin-block-start: 16px;
}

.section-content.counter {
  counter-reset: titleList;
}

.section-content.counter h3 {
  counter-increment: titleList;
}

.section-content.counter h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content#concepts h3 {
  margin-block: 24px;
}

.section-content#box-model h3 {
  font-weight: bold;
}

.section-content ol, .section-content ul {
  padding-inline-start: 16px;
}

.section-content ul li {
  margin-block: 16px;
}

.section-content li span {
  font-size: 17px;
}

pre {
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  margin-block-end: 30px;
}

blockquote {
  margin-block: 40px;
  margin-inline: 0;
  border-radius: 8px;
  padding: 8px;
  line-height: 32px;
  font-size: 17px;
  font-weight: bold;
}

.main hr {

}

.wrapper {
  max-inline-size: 990px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.slider-slide {
  display: inline-block;
  inline-size: 100%;
}

.slider-slide .video {
  margin: 0;
  inline-size: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet-list .slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  margin-inline-start: 2px;
}

.form input {
  inline-size: 100%;
  box-sizing: border-box;
  margin-block-end: 24px;
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 16px;
  font-size: 16px;
}

form input[type="submit"] {
  border: none;
  font-weight: bold;
}

.footer-content {
  padding-block-start: 40px;
  padding-block-end: 58px;
}

.footer-content img {
  inline-size: 24px;
  block-size: 24px;
}

.footer-content p {
  text-align: center;
  font-size: 24px;
  line-height: 28.13px;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.footer-content .social-links {
  max-inline-size: 120px;
  block-size: 24px;
  display: block;
  margin: auto;
  font-size: 0;
}

.footer-content .social-links img {
  margin-inline: 8px;
}

details > summary::-webkit-details-marker {
  display: none;
}

.hero {
  block-size: 96px;
}


@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    margin-block-start: 0;
    inline-size: 306px;
  }

  nav ul.variants {
    margin-block-end: 104px;
  }

  nav h3 {
    font-weight: normal;
  }

  nav section.nav-content {
    display: block;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
    line-height: 87.3px;
  }

  blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    border-radius: 8px;
    padding-inline: 16px;
  }

  blockquote p {
    line-height: 24px;
    font-size: 24px;
  }

  .section-content img.logo {
    margin-block-start: 40px;
    inline-size: 80px;
    block-size: 80px;
  }

  .footer-content {
    padding-block: 48px;
  }

  .main-content {
    padding-inline-start: 330px;
    padding-inline-end: 24px;
  }

  form.combined-form > input {
    display: inline-block;
    inline-size: 280px;
    margin-inline-end: 16px;
  }

  form.combined-form > .combined-submit {
    display: inline-block;
    inline-size: 280px;
  }
}