:root .theme-e {
  --font: 'Monserrat';
  --primary: #FFFFFE;
  --primary100: #B8C1EC;
  --primary200: #B8C1EC;
  --secondary: #232946;
  --secondary100: #EEBBC3;
  --secundary200: #D4939D;
}

.theme-e header {
  margin-block-start: 24px;
  padding-block-end: 24px;
  border-block-end: 1px solid rgba(97, 97, 97, 0.2);
}

.theme-e nav section.nav-content {
  display: block;
}

.theme-e h1 {
  margin-block-start: 0;
}

.theme-e h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39.01px;
}

.theme-e .section-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  margin-block: 16px;
}

.theme-e .section-content img {
  margin-block-start: 40px;
  margin-block-end: 16px;
}

.theme-e pre {
  border: none;
  box-shadow: none;
  background: none;
  font-weight: normal;
  font-size: 16px;
}

.theme-e blockquote {
  padding: 16px;
}

.theme-e .section-content ul {
  list-style-image: url('../images/market-white.png');
}

@media screen and (min-width: 1366px) {
  .theme-e .header {
      inset-block-start: 20px;
  }

  .theme-e .header-content {
    inset-block-start: 0;
  }

  .theme-e main {
    margin-block-start: 100px;
  }
}
