:root .theme-d {
  --font: 'Rubik';
  --primary: #000000;
  --primary100: #545454;
  --primary200: #616161;
  --secondary: #FFFFFF;
  --secondary100: #5551FF;
  --secundary200: #87A6E3;
}

.theme-d .header h3 {
  color: var(--primary100);
}

.theme-d .footer-content {
  background-color: var(--primary);
}

.theme-d .section-content ul {
  list-style-image: url('../images/market-purple.png');
}

.theme-d .wrapper {
  max-inline-size: 1135px;
}

.theme-d .section-content h3 {
  font-size: 22px;
}

.theme-d b {
  font-weight: normal;
}

.theme-d .section-content h1,
.theme-d .section-content h2,
.theme-d .section-content h3,
.theme-d .section-content p {
  text-align: center;
}

.theme-d .section-content#box-model h1,
.theme-d .section-content#box-model h2,
.theme-d .section-content#box-model h3,
.theme-d .section-content#box-model p {
  text-align: start;
}

.theme-d .section-content h1 {
  font-weight: bold;
  line-height: 33.18px;
  font-size: 28px;
}

.theme-d .section-content img {
  margin-inline: auto;
  margin-block-start: 40px;
  margin-block-end: 16px;
}

.theme-d .section-content#box-model h3 {
  font-weight: normal;
}

.theme-d pre {
  border: 8px solid var(--secondary100);
  box-sizing: border-box;
  box-shadow: -10px 10px 0px var(--secundary200);
  border-radius: 8px;

}

.theme-d header h3 {
  font-weight: normal;
}

.theme-d blockquote {
  margin-block: 64px;
  padding: 0;
  padding-inline: 16px;
  border-inline-start: 4px solid var(--secondary100);
  border-radius: 0;
  max-inline-size: 613px;
  font-size: 24px;
  margin-inline: auto;
  line-height: 32px;
  background-color: var(--secondary);
}

.theme-d .section-content blockquote p {
  text-align: start;
  color: var(--primary);
}

.theme-d .slider-bullet-list .slider-bullet {
  background: rgba(142, 45, 226, 0.5);
}

.theme-d .slider-bullet-list .slider-bullet.selected {
  background: var(--secondary100);
}

.theme-d .form input {
  border: var(--black30);
  border-radius: 90px;
}

.theme-d .hero {
  background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url('../images/pattern-2a.png');
}

.theme-d hr {
  margin-block: 64px;
}

@media screen and (min-width: 1366px) {
  .theme-d .main-content {
    padding-inline-start: 0;
    padding-inline-end: 232px;
  }

  .theme-d header {
    inset-inline-end: 0;
    inline-size: 208px;
  }

  .theme-d .section-content h1 {
    line-height: 71.1px;
    font-size: 60px;
  }
}