body.theme-c {
  background: var(--white30);
  color: var(--black20);
  font-family: 'Roboto', sans-serif;
}

.theme-c nav section.nav-content {
  display: block;
}

.theme-c nav .details h4 {
  font-size: 14px;
  color: var(--gray30);
  font-weight: bold;
  margin-block: 16px;
}

.theme-c nav .content-links {
  padding-inline-start: 16px;
  border-inline-start: 4px solid #C4C4C4;
}

.theme-c h1 {
  font-size: 32px;
  line-height: 37.5px;
}

.theme-c h2, .theme-c h3 {
  color: var(--black10);
}

.theme-c p {
  font-size: 16px;
  font-weight: normal;
}

.theme-c .section-content p {
  color: var(--black10);
}

.theme-c li, .theme-c .section-content ol li, .theme-c .section-content li span {
  color: var(--black10);
}

.theme-c .section-content#box-model h3 {
  font-weight: normal;
}

.theme-c pre {
  background: var(--gray10);
  border: none;
  box-shadow: none;
}

.theme-c nav ul.variants li a {
    color: var(--gray30);
    font-weight: 500;
}

.theme-c nav ul.variants li.selected a {
    color: var(--white30);
    font-weight: 500;
}

.theme-c header a {
    color: var(--gray30);
}

.theme-c header h3 {
  color: var(--gray30);
  font-weight: normal;
}

.theme-c blockquote {
  background: var(--white30);
}

.theme-c .slider-bullet-list .slider-bullet {
  background: rgba(66, 66, 66, 0.2);
}

.theme-c .form input {
  background: var(--white30);
  border: 1px solid var(--black30);
  border-radius: 90px;
  color: var(--black30);
}

.theme-c .form input::-webkit-input-placeholder {
  color: var(--black10);
}

.theme-c .form input[type="submit"] {
  background: black;
  color: var(--white30);
}

.theme-c .hero {
    background-image: linear-gradient(to top, rgb(255, 255, 255, 0.3), transparent), url('/images/pattern.png');
}

.theme-c blockquote {
  border-inline-start: 4px solid var(--black10);
  border-radius: 0;
  padding-block: 0;
  padding-inline: 16px;
}

.theme-c blockquote p{
  margin-block: 0;
  line-height: 32px;
  color: var(--gray20);
}

.theme-c blockquote span {
  color: var(--gray30);
}

.theme-c blockquote span::before {
  content: '-';
}

@media screen and (min-width: 1366px) {
  .theme-c .header {
    position: relative;
    inset-block-start: 0;
  }

  .theme-c header {
    position: relative;
    inline-size: 100%;
  }

  .theme-c .main-content {
    padding-inline: 16px;
  }

  .theme-c h1 {
    font-size: 60px;
    line-height: 70.31px;
  }
}