:root .theme-c {
  --font: 'Roboto';
  --primary: #212121;;
  --primary100: #424242;
  --primary200: #616161;
  --primary300: #C4C4C4;
  --secondary: #FFFFFF;
  --secondary100: var(--primary);
  --secundary200: #E5E5E5;
}

.theme-c h3 {
  color: var(--primary100);
}

.theme-c nav section.nav-content {
  display: block;
}

.theme-c nav .details h4 {
  font-size: 14px;
  font-weight: bold;
  margin-block: 16px;
}

.theme-c nav .content-links {
  padding-inline-start: 16px;
  border-inline-start: 4px solid var(--primary300);
}

.theme-c h1 {
  font-size: 32px;
  line-height: 37.5px;
}

.theme-c p {
  font-size: 16px;
}

.theme-c footer p {
  font-size: 24px;
}

.theme-c .section-content#box-model h3 {
  font-weight: normal;
}

.theme-c pre {
  background: var(--secundary200);
}

.theme-c nav ul.variants li a {
  font-weight: 500;
}

.theme-c header h3 {
  font-weight: normal;
}

.theme-c .form input {
  border-color: var(--primary200);
  border-radius: 90px;
}

.theme-c blockquote {
  border-inline-start: 4px solid var(--primary);
  background: var(--secondary);
  border-radius: 0;
  padding-block: 0;
  padding-inline: 16px;
}

.theme-c blockquote p {
  color: var(--primary100);
  margin-block: 0;
  line-height: 32px;
}

.theme-c .section-content ul {
  list-style-image: url('../images/market-black.png');
}

@media screen and (min-width: 1366px) {
  .theme-c .header {
    position: relative;
    inset-block-start: 0;
  }

  .theme-c header {
    position: relative;
    inline-size: 100%;
  }

  .theme-c .main-content {
    padding-inline: 16px;
  }

  .theme-c h1 {
    font-size: 60px;
    line-height: 70.31px;
  }

  .theme-c blockquote p {
    font-size: 24px;
    line-height: 32px;
    margin-block: 8px;
  }

  .theme-c footer .wrapper {
    inline-size: 100%;
  }
}